////////////////////////////////////////////////////////////// THEME //////////////////////////////////////////////////////////////
$bg-color-light: #3c3c3cc3;
$bg-color-dark: #1d1d1dc0;
$modal-bg-color: #181818b1;

$object-primary-color: #5a9ac8ab;
$object-secondary-color: #51c2b3a9;
$object-ternary-color: #dcd085b5;
$object-quaternary-color: #df8888bb;
$object-pentenary-color: #d9acd6b3;

$container-primary-color: #80b781c2;
$container-secondary-color: #7b7dafbc;
$container-ternary-color: #7fb0d1c5;
$container-quarternary-color: #9681adc7;

$text-primary-color: #191a1a;
$text-secondary-color: #252c2b;
$text-ternary-color: #3b5353;
$text-quarternary-color: #426462;

$text-primary-color-light: #41dedbd9;
$text-secondary-color-light: #9ce9e9d7;
$text-ternary-color-light: #bbede1d8;
$text-quarternary-color-light: #d2fff7d7;
$text-pentenary-color-light: #e8f9f5d7;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #484848 #cccccc;
  text-decoration: none;
  animation: fadeIn 0.5s ease-in-out;
}

*:hover {
  transition: all 0.1s ease-in-out;
}

#Flow:hover,
#Flow *:hover {
  transition: none;
}

html, :root {
  background-color: $bg-color-dark;
}

body {
  transition: all 0.1s ease-in-out;
  background-color: $bg-color-dark;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: $modal-bg-color;
  overflow: hidden;
  z-index: 1000;
}

.primary-btn,
.secondary-btn,
.ternary-btn,
.quarternary-btn,
.pentenary-btn {
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  font-size: 10pt;
  height: 5rem;
  max-height: 45px;
  max-width: 45px;
  cursor: pointer;
}

.primary-btn {
  background-color: $object-primary-color;

  &:hover {
    background-color: darken($object-primary-color, 10%);
  }
}

.secondary-btn {
  background-color: $object-secondary-color;

  &:hover {
    background-color: darken($object-secondary-color, 10%);
  }
}

.ternary-btn {
  background-color: $object-ternary-color;

  &:hover {
    background-color: darken($object-ternary-color, 10%);
  }
}

.quarternary-btn {
  background-color: $object-quaternary-color;

  &:hover {
    background-color: darken($object-quaternary-color, 10%);
  }
}

.pentenary-btn {
  background-color: $object-pentenary-color;

  &:hover {
    background-color: darken($object-pentenary-color, 10%);
  }
}

.primary-section {
  background-color: $bg-color-dark;
}

.primary-container {
  background-color: $container-primary-color;
}

.secondary-container {
  background-color: $container-secondary-color;
}

@mixin textStyles($scaleFactor: 1,
  $priColor: $text-primary-color-light,
  $secColor: $text-secondary-color-light,
  $terColor: $text-secondary-color-light,
  $quaColor: $text-quarternary-color-light,
  $penColor: $text-pentenary-color-light) {

  ul,
  .ul-selector {
    list-style: none;
  }

  h1,
  .h1-selector,
  h2,
  .h2-selector,
  h3,
  .h3-selector,
  h4,
  .h4-selector,
  h5,
  .h5-selector,
  h6,
  .h6-selector {
    text-transform: uppercase;
    letter-spacing: 0.4rem * $scaleFactor;
    word-spacing: 0.4rem * $scaleFactor;
    margin: 1rem;
  }

  h1,
  .h1-selector {
    font-size: 15pt * $scaleFactor;
    font-weight: 800;
    margin-top: 3dvh * $scaleFactor;
    margin-bottom: 3dvh * $scaleFactor;
    color: $priColor;
    letter-spacing: .5rem * $scaleFactor;
    word-spacing: .5rem * $scaleFactor;
    padding: 1rem * $scaleFactor;
  }

  h2,
  .h2-selector {
    font-size: 14pt * $scaleFactor;
    color: $secColor;
    padding: 1.5rem 1rem * $scaleFactor;
  }

  h3,
  .h3-selector {
    font-size: 13pt * $scaleFactor;
    color: $terColor;
    padding: 1.5rem * $scaleFactor;
  }

  h4,
  .h4-selector,
  h5,
  .h5-selector,
  h6,
  .h6-selector {
    color: $quaColor;
    font-size: 12pt * $scaleFactor;
    padding: 1.5rem 2rem * $scaleFactor;
  }

  p,  
  .p-selector,
  a,
  .a-selector,
  .radio-control {
    font-size: 11pt * $scaleFactor;
    color: $penColor;
    letter-spacing: 0.1rem * $scaleFactor;
    word-spacing: 0.1rem * $scaleFactor;
    padding: 2rem * $scaleFactor;
  }

  .text-field-selector,
  .text-field-selector * {
    font-size: 6pt * $scaleFactor;
    color: $quaColor;
    border-color: $quaColor;
  }

  .article-div,
  article,
  .article-selector {
    margin-top: 3rem * $scaleFactor;
  }

  strong {
    font-size: 10pt * $scaleFactor;
    font-weight: 700;
    padding: 0;
  }

  .footer-h6-selector {
    font-size: 7pt * $scaleFactor;
    text-align: center;
  }

  .footer-a-selector,
  .footer-p-selector {
    font-size: 6pt * $scaleFactor;
    color: $quaColor;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

}

@include textStyles;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2rem;
}

////////////////////////////////////////////////////////////// LAYOUT //////////////////////////////////////////////////////////////
:root {
  font-size: 1dvmax;
  letter-spacing: 1rem;
  word-spacing: .25rem;
}

html {
  text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
}

#__next {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  max-width: 98dvw;
  max-height: 95dvh;
  margin: 0;
  padding: 0;
box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, .5);
}

.primary-section {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

section,
.section-selector {
  margin: 8dvh 0;
  padding: 0;
}

////////////////////////////////////////////////////////////// COMPONENTS //////////////////////////////////////////////////////////////
.DocumentNode,
.RichTextEditor * {
  @include textStyles(0.7);
  z-index: 1;
  border-radius: 0;

  p {
    line-height: 1;
    margin: 3%;
    color: $text-primary-color;
  }

  ul {
    list-style-type: square;
  }

  ul,
  ol {
    padding: 0 5%;
    color: $text-primary-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin: 3%;
    color: $text-secondary-color;
  }

  code {
    background-color: rgba(13, 13, 13, 0.8);
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    line-height: 1.65;
    width: 99%;
    display: inline-block;
    padding-left: 1%;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.3);
    color: $text-ternary-color;
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.3);
    margin: 2rem 0;
  }

  s,
  del {
    text-decoration: line-through;
    color: $text-quarternary-color;
  }
}

.RichTextEditor *:focus {
  padding: .5rem .2rem;
  outline: none;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .5);
}

#FlowContainer {
  width: 98dvw;
  height: 95dvh;
  padding: 0;
  z-index: 1;
}
