////////////////////////////////////////////////////////////// THEME //////////////////////////////////////////////////////////////
$bg-color-light: #3c3c3cc3;
$bg-color-dark: #1d1d1dc0;
$modal-bg-color: #181818b1;

$object-primary-color: #51c2b3;
$object-secondary-color: #5a9ac8;
$object-tertiary-color: #dcd185;
$object-quaternary-color: #df8888;
$object-pentenary-color: #d9acd6;

$container-primary-color: #80b781;
$container-secondary-color: #6ec8ad;
$container-tertiary-color: #7fb0d1;
$container-quaternary-color: #7b7daf;
$container-pentenary-color: #9681ad;

$text-primary-color: #191a1a;
$text-secondary-color: #252c2b;
$text-tertiary-color: #3b5353;
$text-quarternary-color: #426462;

$text-quarternary-color-light: #d2fff7;
$text-tertiary-color-light: #bbede1;
$text-secondary-color-light: #9ce9e9;
$text-primary-color-light: #41dedb;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #484848 #cccccc;
  text-decoration: none;
  animation: fadeIn 0.5s ease-in-out;
}

*:hover {
  transition: all 0.1s ease-in-out;
}

.Flow:hover,
.Flow *:hover {
  transition: none;
}

html {
  background-color: $bg-color-dark;
}

body {
  transition: all 0.1s ease-in-out;
  background-color: $bg-color-dark;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: $modal-bg-color;
  overflow: hidden;
  z-index: 1000;
}

.primary-btn,
.secondary-btn,
.tertiary-btn,
.quarternary-btn {
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  width: 10rem;
  height: 5rem;
  max-height: 45px;
  max-width: 100px;
  border-radius: .5rem;
  cursor: pointer;
}

.primary-btn {
  background-color: $object-primary-color;

  &:hover {
    background-color: darken($object-primary-color, 10%);
  }
}

.secondary-btn {
  background-color: $object-secondary-color;

  &:hover {
    background-color: darken($object-secondary-color, 10%);
  }
}

.tertiary-btn {
  background-color: $object-tertiary-color;

  &:hover {
    background-color: darken($object-tertiary-color, 10%);
  }
}

.quarternary-btn {
  background-color: $object-quaternary-color;

  &:hover {
    background-color: darken($object-quaternary-color, 10%);
  }
}

.primary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0;
  background-color: $bg-color-dark;
}

.primary-container {
  background-color: $container-primary-color;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2rem;
}

////////////////////////////////////////////////////////////// DESIGN //////////////////////////////////////////////////////////////
:root {
  font-size: 1dvmax;
  letter-spacing: 1rem;
  word-spacing: .5rem;
}

html {
  text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
}

.ui-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.main-container {
  width: 99dvw;
  height: 97dvh;
  overflow-Y: scroll;
  overflow-X: hidden;
  border-radius: 2rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

section,
.section-selector {
  margin-top: 1rem;
  border-radius: 0;
}

@mixin textStyles($scaleFactor: 1,
  $priColor: $text-primary-color-light,
  $secColor: $text-secondary-color-light,
  $terColor: $text-secondary-color-light,
  $quaColor: $text-quarternary-color-light) {

  ul,
  .ul-selector {
    list-style: none;
  }

  h1,
  .h1-selector,
  h2,
  .h2-selector,
  h3,
  .h3-selector,
  h4,
  .h4-selector,
  h5,
  .h5-selector,
  h6,
  .h6-selector {
    text-transform: uppercase;
    letter-spacing: 0.2rem * $scaleFactor;
  }

  h1,
  .h1-selector {
    font-size: 12pt * $scaleFactor;
    font-weight: 800;
    margin-top: 5dvh * $scaleFactor;
    margin-bottom: 5dvh * $scaleFactor;
    color: $priColor;
  }

  h2,
  .h2-selector {
    font-size: 11pt * $scaleFactor;
    font-weight: 600;
    margin-left: 0.5rem * $scaleFactor;
    color: $secColor;
  }

  h3,
  .h3-selector,
  h4,
  .h4-selector,
  h5,
  .h5-selector,
  h6,
  .h6-selector {
    color: $terColor;
    font-size: 9pt * $scaleFactor;
  }

  .footer-h6-selector {
    font-size: 8pt * $scaleFactor;
    text-align: center;
  }

  .footer-a-selector,
  .footer-p-selector {
    font-size: 8pt * $scaleFactor;
    color: $quaColor;
    text-align: center;
  }

  p,
  .p-selector,
  a,
  .a-selector {
    font-size: 10pt * $scaleFactor;
    color: $quaColor;
  }

  .article-div,
  article,
  .article-selector {
    margin-top: 3rem * $scaleFactor;
  }

  p,
  .p-selector,
  h3,
  .h3-selector {
    padding-left: 1rem * $scaleFactor;
    padding-right: 1rem * $scaleFactor;
  }

  strong {
    font-size: 10pt * $scaleFactor;
    font-weight: 700;
    padding: 0;
  }

}

@include textStyles;

////////////////////////////////////////////////////////////// COMPONENTS //////////////////////////////////////////////////////////////
.DocumentNode,
.RichTextEditor * {
  @include textStyles(0.7);
  z-index: 1;
  border-radius: 0;

  p {
    line-height: 1;
    margin: 3%;
    color: $text-primary-color;
  }

  ul {
    list-style-type: square;
  }

  ul,
  ol {
    padding: 0 5%;
    color: $text-primary-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin: 3%;
    color: $text-secondary-color;
  }

  code {
    background-color: rgba(13, 13, 13, 0.8);
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    line-height: 1.65;
    width: 99%;
    display: inline-block;
    padding-left: 1%;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.3);
    color: $text-tertiary-color;
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.3);
    margin: 2rem 0;
  }

  s,
  del {
    text-decoration: line-through;
    color: $text-quarternary-color;
  }
}

.RichTextEditor *:focus {
  padding: .5rem .2rem;
  outline: none;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .5);
}