////////////////////////////////////////////////////////////// THEME //////////////////////////////////////////////////////////////
$bg-color-light: rgba(60, 60, 60, 0.868);
$bg-color-dark: #171717c7;
$modal-bg-color: #181818b1;

$object-primary-color: #51c2b3de;
$object-secondary-color: #5a9ac8d1;
$object-ternary-color: #dcd085d5;
$object-quaternary-color: #df8888d0;
$object-pentenary-color: #8773acd3;


$container-primary-color: rgba(45, 61, 96, 0.287);
$container-secondary-color: rgba(80, 32, 131, 0.549);
$container-ternary-color: rgba(131, 32, 108, 0.549);
$container-quarternary-color: rgba(131, 32, 32, 0.549);

$text-primary-color: #191a1a;
$text-secondary-color: #252c2b;
$text-ternary-color: #3b5353;
$text-quarternary-color: #426462;

$text-primary-color-light: #41dedbd9;
$text-secondary-color-light: #9ce9e9d7;
$text-ternary-color-light: #bbede1d8;
$text-quarternary-color-light: #d2fff7d7;
$text-pentenary-color-light: #e8f9f5d7;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  border: none;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  animation: fadeIn 0.5s ease-in-out;
  transition: none;
  border: none;
}

*:hover {
  transition: all 0.3s ease-in-out;
}

#Flow:hover,
#Flow *:hover {
  transition: none;

  .focused-node {
    transition: box-shadow ease-in-out 0.2s;
  }
}

body {
  background-color: $bg-color-dark;
  transition: all 0.1s ease-in-out;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: $modal-bg-color;
  overflow: hidden;
  z-index: 1000;
}

.modal-container {
  display: grid;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 3rem;
  z-index: 1001;
}

.quarter-container {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 1rem .25rem rgba(0, 0, 0, .75), inset 0 0 .5rem .25rem rgba(255, 255, 255, .5);
  padding: .5rem;
}

.primary-btn,
.secondary-btn,
.ternary-btn,
.quarternary-btn,
.pentenary-btn {
  color: #fff;
  font-size: 10pt;
  margin: 1rem;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .75), inset 0 0 15px 1px rgba(255, 255, 255, .25);
  transition: all 0.3s ease-in-out;
  * {
    font-size: 16pt;
  }
  &:hover {
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, .75);
  }
}

.primary-btn {
  background-color: $object-primary-color;

  &:hover {
    background-color: darken($object-primary-color, 10%);
  }
}

.secondary-btn {
  background-color: $object-secondary-color;

  &:hover {
    background-color: darken($object-secondary-color, 10%);
  }
}

.ternary-btn {
  background-color: $object-ternary-color;

  &:hover {
    background-color: darken($object-ternary-color, 10%);
  }
}

.quarternary-btn {
  background-color: $object-quaternary-color;

  &:hover {
    background-color: darken($object-quaternary-color, 10%);
  }
}

.pentenary-btn {
  background-color: $object-pentenary-color;

  &:hover {
    background-color: darken($object-pentenary-color, 10%);
  }
}

.primary-container {
  background-color: $container-primary-color;
}

.secondary-container {
  background-color: $container-secondary-color;
}

.ternary-container {
  background-color: $container-ternary-color;
}

.quarternary-container {
  background-color: $container-quarternary-color;
}

@mixin textStyles($scaleFactor: 1,
  $priColor: $text-primary-color-light,
  $secColor: $text-secondary-color-light,
  $terColor: $text-secondary-color-light,
  $quaColor: $text-quarternary-color-light,
  $penColor: $text-pentenary-color-light) {

  ul,
  .ul-selector {
    list-style: none;
  }

  h1,
  .h1-selector,
  h2,
  .h2-selector,
  h3,
  .h3-selector,
  h4,
  .h4-selector,
  h5,
  .h5-selector,
  h6,
  .h6-selector {
    text-transform: uppercase;
    letter-spacing: 0.4rem * $scaleFactor;
    word-spacing: 0.4rem * $scaleFactor;
    margin: 1rem;
  }

  h1,
  .h1-selector {
    font-size: 15pt * $scaleFactor;
    font-weight: 800;
    margin-top: 3dvh * $scaleFactor;
    margin-bottom: 3dvh * $scaleFactor;
    color: $priColor;
    letter-spacing: .5rem * $scaleFactor;
    word-spacing: .5rem * $scaleFactor;
    padding: 1rem * $scaleFactor;
  }

  h2,
  .h2-selector {
    font-size: 14pt * $scaleFactor;
    color: $secColor;
    padding: 1rem * $scaleFactor;
  }

  h3,
  .h3-selector {
    font-size: 13pt * $scaleFactor;
    color: $terColor;
    padding: 1.5rem * $scaleFactor;
  }

  h4,
  .h4-selector,
  h5,
  .h5-selector,
  h6,
  .h6-selector {
    color: $quaColor;
    font-size: 12pt * $scaleFactor;
    padding: 1.5rem 2rem * $scaleFactor;
  }

  p,  
  .p-selector,
  a,
  .a-selector,
  li,
  .li-selector,
  .radio-control,
  .MuiFormControlLabel-label {
    font-size: 11pt * $scaleFactor;
    color: $penColor;
    letter-spacing: 0.1rem * $scaleFactor;
    word-spacing: 0.1rem * $scaleFactor;
  }

  .MuiDialog-paper {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem .5rem rgba(0, 0, 0, .8);
    z-index: 1004;
  }

  .MuiDialogTitle-root {
    color: $text-primary-color-light;
    font-size: 12pt * $scaleFactor;
  }

  .MuiDialogContentText-root {
    color: $text-secondary-color-light;
    font-size: 10pt * $scaleFactor;
  }

  .MuiDialogActions-root {
    color: $text-ternary-color-light;
    font-size: 10pt * $scaleFactor;
  }

  .text-field-selector,
  .text-field-selector * {
    font-size: 10pt * $scaleFactor;
    color: $quaColor;
    border-color: $quaColor;
  }

  p,  
  .p-selector,
  a,
  .a-selector,
  .radio-control{
    padding: 2rem * $scaleFactor;
  }

  .article-div,
  article,
  .article-selector {
    margin-top: 3rem * $scaleFactor;
  }

  strong {
    font-size: 10pt * $scaleFactor;
    font-weight: 700;
    padding: 0;
  }

  .footer-h6-selector {
    font-size: 7pt * $scaleFactor;
    text-align: center;
  }

  .footer-a-selector,
  .footer-p-selector {
    font-size: 6pt * $scaleFactor;
    color: $quaColor;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

}

@include textStyles;

////////////////////////////////////////////////////////////// SCROLLBAR //////////////////////////////////////////////////////////////

* {
  scrollbar-color: rgb(75, 71, 80) rgba(255, 255, 255, 0.83);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  border-radius: 4rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.83);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75, 71, 80);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(135, 122, 145);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(84, 71, 86);
}

////////////////////////////////////////////////////////////// LAYOUT //////////////////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
}

:root {
  font-size: 1dvmax;
  letter-spacing: 1rem;
  word-spacing: .25rem;
}

html {
  text-size-adjust: 100%;
}

#__next {
  box-shadow: inset 0 0 5rem 1rem rgba(255,255,255, 0.2);
}

#__next, html, body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-dark;
  border-radius: 0;
}

.main-container {
  max-width: 95dvw;
  max-height: 95dvh;
  margin: 0;
  padding: 0;
  animation: none;
}

.main-content {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

section,
.section-selector {
  margin: 4dvh 0;
  padding: 0;
}

.editor-dialog {
  min-height: 100px;
}

.footer-container {
  padding: 0;
  margin: 0;
}

footer,
.footer-selector {
  padding: 0;
  margin: 0;
  width: 100%;
}

////////////////////////////////////////////////////////////// COMPONENTS //////////////////////////////////////////////////////////////
.DocumentNode {
  width: 500px;
  height: 900px;
  background-color: rgb(235, 235, 235);
  padding: .75rem;
  margin: 0;
  border-radius: 1rem;
}

.RichTextEditor {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.RichTextEditor * {
  @include textStyles(1.3);
  z-index: 1;

  p {
    line-height: 1.3;
    margin: 0 10pt;
    padding: 0;
    color: $text-primary-color;
  }

  ul {
    list-style-type: square;
  }

  ul,
  ol {
    color: $text-primary-color;
  }

  li {
    margin: 0 30pt;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin: 20pt 10pt 10pt 10pt;
    padding: 0;
    letter-spacing: normal;
    color: $text-secondary-color;
  }

  code {
    background-color: rgb(50, 50, 50);
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    line-height: 1.65;
    width: 99%;
    display: inline-block;
    padding: .5pt;
    border-radius: 0;
    margin: 0;
    box-shadow: 0 0 1px 1px rgb(50, 50, 50);
  }

  blockquote {
    margin: 0 10pt;
    padding: 0 10pt;
    border-left: 3px solid rgba(#0D0D0D, 0.5);
    color: $text-ternary-color;
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.5);
    margin: 2pt 0;
  }

  s,
  del {
    text-decoration: line-through;
    color: $text-quarternary-color;
  }
}

.RichTextEditor *:focus {
  outline: none;
}

#FlowContainer {
  width: 98dvw;
  height: 95dvh;
  padding: 0;
  z-index: 1;
}

.DocumentNode {
  box-shadow: inset 0 0 3rem .1rem rgba(150, 150, 150, 0.5), 0 0 1rem .1rem rgba(0, 0, 0, 0.5);
}

.UrlNode {
  box-shadow: inset 0 0 2rem .1rem rgba(0, 0, 0, 0.7), 0 0 1rem .1rem rgba(0, 0, 0, 0.4);
}

.focused-node {
  box-shadow: 0 0 5rem .1rem rgba(255, 255, 255, 0.5);
}